[DEFAULT]
open_all = no
srv_name =  http://localhost
workers = 10
base_url = %(srv_name)s%(base_path)s
base_path = /qserver/
log_dir = ./log/

[backup]
savefile = state.bin
savecount = 50
dir = backup

