[DEFAULT]
open_all = no
srv_name = http://10.28.200.7
workers = 10
base_url = %(srv_name)s%(base_path)s
base_path = /
log_dir = /var/log/qserver
categories = PPC:JoyStory:Reverse:Admin:Crypto:Stegano:Forensics:CTB

[PPC]
name = PPC
q200 = xml:200.Turing/200.Turing.xml
q100 = xml:100.NFS/100.NFS.xml
q300 = ext:300.Game Bot/300.Game Bot
q400 = xml:400.Template/400.Template.xml
q500 = py:500.Markov/500.Markov.py
dir = libquest/PPC

[JoyStory]
q300 = xml:300.Radio/300.Radio.xml
name = JoyStory
q200 = xml:200.VoteMe/200.VoteMe.xml
q500 = xml:500.Photo/500.Photo.xml
q100 = xml:100.People/100.People.xml
q400 = xml:400.Solitaire/400.Solitaire.xml
dir = libquest/JoyStory

[Reverse]
q300 = ext:300.PE/300.PE
name = Reverse
q200 = xml:200.AtMega/200.AtMega.xml
q500 = py:500.VM/500.VM.py
q100 = xml:100.Int/100.Int.xml
q400 = xml:400.Pascal/400.Pascal.xml
dir = libquest/Reverse

[Admin]
q100 = py:100.VPN/100.VPN.py
q200 = xml:200.R0/200.R0.xml
q300 = ext:300.Balancer/300.Balancer
q400 = xml:400.Fixnet/400.Fixnet.xml
q500 = ext:500.Routes/500.Routes
name = Admin
dir = libquest/Admin

[Crypto]
q300 = xml:300.Cryptopixels/300.Cryptopixels.xml
name = Crypto
q200 = xml:200.CR/200.CR.xml
q100 = xml:100.Babylon/100.Babylon.xml
q400 = ext:400.BrakeDaHash/400.BrakeDaHash
q500 = xml:500.TPM/500.TPM.xml
dir = libquest/Crypto

[Stegano]
q300 = xml:300.TrickyGIF/300.TrickyGIF.xml
name = Stegano
q200 = xml:200.Metro/200.Metro.xml
q500 = xml:500.doc/500.doc.xml
q100 = xml:100.ToneDial/100.ToneDial.xml
q400 = xml:400.Pdf/400.Pdf.xml
dir = libquest/Stegano

[Forensics]
q300 = xml:300.Keylogger/300.Keylogger.xml
name = Forensics
q200 = xml:200.FDD-Forensics/200.FDD-Forensics.xml
q100 = xml:100.DICOM/100.DICOM.xml
q400 = xml:400.Pursuit/400.Pursuit.xml
dir = libquest/Forensics

[CTB]
q300 = xml:300.DNS/300.DNS.xml
name = CTB
q200 = xml:200.Nosql/200.Nosql.xml
q500 = xml:500.SSR/500.SSR.xml
q100 = xml:100.SNMP/100.SNMP.xml
q400 = xml:400.Acrobat/400.Acrobat.xml
dir = libquest/CTB

[backup]
savefile = state.bin
savecount = 50
dir = backup

