html, body {
    color: #8DC63F; 
    background-color: #202020; 
    font-family: Courier New; 
    font-size: 0.9em; 
    height: 100%;
    margin: 0px;
}

div.page-header {
    font-size: 4em; 
    margin: 0px auto 20px; 
    text-align: center
}

div.page-header a {text-decoration: none}
div.page-header a img {border: none}

a {color: #8DC63F}
span.link {color: #8DC63F; text-decoration:underline; cursor: pointer; margin-right: 2em}
span.select-link {color: green; font-weight: bolder; margin-right: 2em}

.link {cursor:pointer}
.button {border: 1px solid green; background-color: transparent; color: green; margin: 5px}
.button:hover {border-left-style: inset; border-top-style: inset; border-right-style: outset; border-bottom-style: outset}

.error {color: #ff8800} 

.height-20p {margin: 0 0 10%}
.height-1em {min-height: 1em; height: 1em}

.trail {text-align: right; margin: 0 0 -1em 0; height: 1em;}
.trail-left {float: left;}
.trail-right {float: right;}
.header {text-align: center; font-weight: bold; font-size: 2em}

.nav-wrapper {height: 1em; width: 100%;}
.nav-prev {float: left; margin-left: 1em; }
.nav-next {float: right; margin-right: -1em; } 

.small-header {font-size: 1.3em; margin: 2em 0 0 0;}
.team-select {font-weight: bold}
.time {font-size: 0.8em; color: gray}

div.news {float: left; width: 75%}
hr.news {width: 80%; border: outset green 2px; margin-bottom: 2em; clear: both}
.news-del-btn {width: 7em; text-align: center; float: right;}
.news-add-btn {width: 10em; text-align: center; margin: 0 auto;}

table.quest-selector {border-collapse: collapse; border: 1px dashed green; width: 80%; margin: 10px auto;}
table.quest-selector td {min-width:10%; margin: 0; padding: 10px; vertical-align: top}
table.quest-selector td ul {margin: 0px; padding: 10px 0; list-style: none; text-align: center; width:100%;}
table.quest-selector td ul li {margin:10px 0px; white-space: nowrap}
table.quest-selector td ul li.available {color: green; border: 1px dashed green; cursor: pointer}
table.quest-selector td ul li.unavailable {color: gray; border: 1px dashed gray}
table.quest-selector td ul li.completed {color: green; border: 1px solid green}

table.quest-monitor {border-collapse: collapse; border: 1px dashed green; width: 80%; margin: 10px 0 0 0; float: left;}
table.quest-monitor td {min-width:10%; margin: 0; padding: 10px; vertical-align: top}
table.quest-monitor td ul {margin: 0px; padding: 10px 0; list-style: none; text-align: center; width:100%;}
table.quest-monitor td ul li {margin:10px 0px; white-space: nowrap}
table.quest-monitor td ul li.available {color: green; border: 1px dashed green}
table.quest-monitor td ul li.unavailable {color: gray; border: 1px dashed gray}
table.quest-monitor td ul li.j-available {color: green; border: 1px dashed green; cursor: pointer}
table.quest-monitor td ul li.j-unavailable {color: gray; border: 1px dashed gray; cursor: pointer}
table.quest-monitor td ul li.postponed {color: orange; border: 1px dashed orange; cursor: pointer}

table.ranklist {float: right; width: 20%;}
table.ranklist th {padding-left: 0.3em; color: green}
table.ranklist td {padding-left: 0.3em}
table.ranklist td.teampos {color: green; text-align: right}

form#login-form {width: 40%; margin: 0 0 0 30%;}
form#login-form label {font-weight: bold; margin: 5px 0px 5px 5px}
form#login-form input.password {margin: 5px 0px 5px 5px; border: 1px dashed green; background-color: transparent; }

form#post-form {display:none; margin-top:2em}

div#btn-panel {margin-top:2em}

div.page-inform {width: 60%; margin: 5% 0 0 30%; border: 3px double white; padding: 5px}
html>body div.page-inform {width: 40%; margin: 5% 0 0 30%; border: 3px double white; padding: 5px}

div.page-wrapper {min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -3em;}
div.page-pusher {height: 3.5em; min-height: 3.5em;}
div.page-footer {height: 2em; font-weight: bold; color: lightgray; text-align: center; clear: both}

div.hidden {display: none}

div#show-quest-block {border: double 4px green; position: absolute; left: 25%; right: 25%; width: 50%;}

table.jlv-stat td {margin: 0 10px}
td.jlv-stat-key   {text-align: right}
td.jlv-stat-value {color: green; font-weight: bold}
